.top_bar {
    background-color: var(--primary_color);
}

.topbar_phone {
    margin-left: 20px;
}

.topbar_address, .topbar_phone{
    float: left;
    color: #fff;
    padding: 8px 0;
    font-size: 16px;
}


.topbar_address i, .topbar_phone i {
    /* background: rgba(0, 0, 0, 0.3); */
    padding: 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px 2px 0px 0px;
    min-width: 30px;
    text-align: center;
}

.social-ico {
    overflow: hidden;
    padding: 8px 0;
    float: right;
}

.social-ico ul li {
    font-size: 16px;
    margin-left: 6px;
    float: left;
}

.social-ico ul li a i {
    background: rgba(0, 0, 0, 0.3);
}
.social-ico ul li a i {
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    padding: 6px;
    text-align: center;
    min-width: 30px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    color: #fff;
}





// nav
.middle_bar {
    padding: 20px 0;
}

.mainmenu {
    float: right;
    margin-top: 20px;
}

.mainmenu .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}


.mainmenu ul li a {
    background: none;
    color: #333;
    padding: 14px 10px;
}

.mainmenu ul li ul li a {
    padding: 8px 10px;
}

@media (min-width: 1200px) {
    .mainmenu ul li:hover ul {
        display: block;
    }
}